@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

body.dark {
    background: #292c35;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    transform: scale(1.5);
  
  }
  
  
  .label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(24px);
  }
  
  .fa-moon {
    color: #f1c40f;
  }
  
  .fa-sun {
    color: #f39c12;
  }
  

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #000;
}

.form-container{
    width: 100%;
    max-width: 500px;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
    position: relative;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para destaque */
}

.input-group input, 
.input-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #000;
    outline: none;
    background-color: transparent;
}

.input-group input::placeholder, 
.input-group textarea::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    background-color: #333;
}
